<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Foo Low</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'fit/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'fit/css/shop-homepage.css'%}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript" src="/admin/jsi18n/"></script>
    <script type="text/javascript" src="/static/admin/js/core.js"></script>
    <script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
    <script type="tepxt/javascript" src="/static/admin/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
    <script type="text/javascript" src="/static/admin/js/actions.min.js"></script>
    <script type="text/javascript" src="/static/admin/js/calendar.js"></script>
    <script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                <a class="navbar-brand" href="{% url 'index' %}">Agenda Tec</a>
                {% if user.is_authenticated %}
                    {% if request.user.is_superuser %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle"
                            data-toggle="dropdown" role="button"
                            aria-haspopup="true" aria-expanded="false">CRUD <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'list' %}">Eventos</a></li>
                            <li><a href="{% url 'my_account' %}">Tags</a></li>
                        </ul>
                    </li>
                    {% endif %}

                </ul>
                <ul class="nav navbar-nav navbar-right">
                  {% if not request.user.is_superuser %}
                    <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                        role="button" aria-haspopup="true"
                        aria-expanded="false">Mi cuenta <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'my_account' %}">Mis Tags</a></li>
                        <li><a href="{% url 'logout' %}">Cerrar sesi&oacuten</a></li>
                    </ul>
                    </li>
		    {% else %}
		  <li><a href="{% url 'logout' %}">Cerrar sesi&oacuten</a></li>
		  {% endif %}
                </ul>
                {% endif %}
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Messages -->
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}" {% endif %}> {{ message }} </li>
      {% endfor %}
    </ul>
    {% endif %}
    
    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-md-3">
            {% if tag_list %}
                <p class="lead">Tags</p>
                <div class="list-group">
                    {% for tag in tag_list %}
                    <a href="{% url "list" tag=tag.tag_name %}" class="list-group-item">{{ tag.tag_name }}</a>
                    {% endfor %}
                </div>
            {% endif %}
            </div>

            <div class="col-md-9">
            {% block content %}

            {% endblock %}

            </div>


        </div>

    </div>
    <!-- Page Content -->

    <!-- /.container -->
    <div class="container">
        <hr>
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Agenda Tec 2017</p>
                </div>
            </div>
        </footer>
    </div>
    <!-- /.container -->



    <!-- jQuery -->
    <script src="{% static 'fit/js/jquery.js' %}"></script>
    
    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'fit/js/bootstrap.min.js' %}"></script>
    
</body>

</html>
