{% extends 'fit/index.html' %}
{% load staticfiles%}
{% block content %}

{% if user.is_superuser %}
<div class="row">
  <div class="col-sm-6 col-sm-offset-3 text-center">
    <a href="{% url 'add_event' %}" class="btn btn-success" style="margin-bottom:1em;">Agregar evento</a>
  </div>
</div>
{% endif %}

<div class="row">
{% if events %}
    {% for event, image in events %}
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            {% with 'fit/images/'|add:image as image_static %}
                <img src="{% static image_static %}" alt="">
            {% endwith %}
            <div class="caption">
                <h4><a href="{% url 'detail' event=event.id %}">{{event.event_name}}</a>
                </h4>
                <h6 class="">{{ event.date }}</h6>
                    <span> 
                        <h6>
                            <div>Active: {{event.is_active }}</div>
                        </h6>
                    </span>
                </h6>
                <p>{{ event.description | truncatechars:80 }}</p>
            </div>
            {% if user.is_superuser %}
                <div class="ratings">
                        <a href="{% url 'edit_event' event=event.id %}">Edit</a>
                        <a href="{% url 'delete_event' event=event.id %}" class="pull-right">Delete</a>
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
{% else %}

<h3>No hay eventos</h3>

{% endif %}
{% endblock %}
